PongGame/[Ll]ibrary/
PongGame/[Tt]emp/
PongGame/[Oo]bj/
PongGame/[Bb]uild/
PongGame/[Bb]uilds/
PongGame/[Ll]ogs/
PongGame/[Uu]ser[Ss]ettings/

PongGame/[Mm]emoryCaptures/

PongGame/[Rr]ecordings/

PongGame/[Aa]ssets/Plugins/Editor/JetBrains*

.vs/
.vscode/
PongGame/.editorconfig

.gradle/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.aab
*.unitypackage
*.app

crashlytics-build.properties

PongGame/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

PongGame/[Aa]ssets/[Ss]treamingAssets/aa.meta
PongGame/[Aa]ssets/[Ss]treamingAssets/aa/*